<div class="jumbotron jumbotron-fluid bg-warning">
    <div class="container container-fluid text-center">
        <h1 class="Title mb-4">EAT DA BURGER!</h1>
        <img src="/assets/img/burger.png" alt="burger vector image" width="200" height="auto">
        <img src="/assets/img/mouth.png" alt="mouth vector image" width="200" height="auto">
        <h2 class="subTitle mt-4">You KNOW you want to EAT DA BURGER! MMMMMM!</h2>
    </div>
</div>

<div class="container container-fluid text-center">

    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="burger_name">
        </div>

        <div class="form-group">
            <label for="devoured">Devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="hungry" value="0"> Hungry!
        </div>

        <button class="btn btn-warning mb-5" type="submit"><img src="/assets/img/burger.png" width="30" height="auto" />
            Add Da Burger</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Burgers that I devoured!</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>I'm hungry! Gimme burgers!</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<footer class="burgerFooter mb-3 mt-1 text-center" style="font-size: 1rem;">
    <div class="text-black">
        <div class="madeWithLove" style="font-size: .85rem;">Eat Da Burger was created with <i class="fa fa-heart pulse"
                style="color: red;"></i> by <a href="https://github.com/onomatopoetica">Onomatopoetica</a> in 2021!
        </div>
    </div>
</footer>