<div class="jumbotron jumbotron-fluid bg-warning">
    <div class="container container-fluid text-center">
        <h1 class="Title mb-4">EAT DA BURGER!</h1>
        <img src="/assets/img/burger.png" alt="burger vector image" width="400" height="auto">
        <h2 class="subTitle mt-4">You KNOW you want to EAT DA BURGER! MMMMMM!</h2>
    </div>
</div>

<div class="container container-fluid">

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>


    <h2>Burgers that I ate!</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ul>


    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burg">Burger Name:</label>
            <input type="text" id="burg" name="name">
        </div>

        <div class="form-group">
            <label for="devo">Devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="hungry" value="0"> Hungry!
        </div>

        <button class="btn btn-warning mb-5" type="submit">Add ABurger</button>
    </form>
</div>