/* Globally assigning Google Fonts Comfortaa font */
* {
    font-family: 'Comfortaa', cursive;
}

li {
/* List-style-type: none removes bullets from list */
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

/* unvisited link */
a:link {
    color: red;
  }
  
/* visited link */
a:visited {
    color: red;
  }
  
/* mouse over link */
a:hover {
    color: orange;
  }

/* Media queries */

  /* Small only */
  @media screen and (max-width: 63em) {
    * {
      font-size: .55rem;
    }
    .burgerImg, .mouthImg {
      width: 100;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }

  /* Medium */
  @media screen and (min-width: 63.1em) and (max-width: 75.1em) {
    * {
      font-size: .80rem;
    }
    .burgerImg, .mouthImg {
      width: 100;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }