/* Globally assigning Google Fonts Comfortaa font */
* {
    font-family: 'Comfortaa', cursive;
}

li {
/* List-style-type: none removes bullets from list */
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

/* unvisited link */
a:link {
    color: red;
  }
  
/* visited link */
a:visited {
    color: red;
  }
  
/* mouse over link */
a:hover {
    color: orange;
  }