<li>
    {{burger_name}}

    <button class="change-devoured btn btn-warning mt-2 mb-2" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}<img src="/assets/img/mouth.png" width="30" height="auto" /> DEVOURED!{{else}}<img
            src="/assets/img/burger.png" width="30" height="auto" /> DEVOUR IT!{{/if}}
    </button>
</li>